<div style="margin-top: 120px;"> 
  <% @save_posts.each do |post| %>
  <div class="box" style= " margin-left: 400px; width: 500px; ">
    <h4 class="title is-4 "> <%= post.title.capitalize! %> </h4>
     <hr>
 <p> <%= post.description %></p>
  
</div>
<br>
</div>
<% end %>
