
 <div style="margin-top: 120px;"> 
  <% @save_posts.each do |posts| %>
  <div class="box" style= " margin-left: 400px; width: 500px; ">
  <% posts.each do |post| %>
  <p> <%= post %></p>
  <% end %>
  </div>
  <% end %>
</div>
