
<% if current_user.present? %>
hi <%= current_user.email %> welcome to my page
<% end %>
 <%= link_to "create community", communities_path %>



 <% @user_posts.each do |post| %>
 <div class="box" style="width: 500px;  margin-left: 400px;">

    <%= post.title %>
    <hr>
    <%= post.description %>
</div>

<% end %>







