
<div class="box" style= "width: 400px; margin-left: 400px; margin-top: 150px;">
	
	<h1 class="title is-3"> admin only  can create communites or request the admin to add the role </h1>
	 <%= link_to "Back", communities_path , class: "is-ghost" %>
</div>
